.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 780px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  outline: none;

  &__body {
    margin-top: 10px;
  }

  &__title {
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    color: green;
    margin-bottom: 30px;
  }

  &__description {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: black;
  }

  &__item {
    margin-bottom: 10px;
  }

  &__cause {
    cursor: pointer;
    padding: 10px;
    background-color: #f8d7da;
    border-left: 4px solid #dc3545;
    margin-bottom: 5px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #f7abb2;
    }

    &_active {
      background-color: #f7abb2;
    }
  }

  &__action {
    padding: 10px;
    margin-left: 40px;
    border: 1px solid green;
    border-radius: 4px;
    background-color: rgba(92, 230, 115, 0.363);
    margin-bottom: 10px;
  }

  &__label {
    font-weight: 600;
  }
}
