.alarm-table {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  max-width: 400px;
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ddd;

  thead {
    background-color: #f5f5f5;

    th {
      padding: 12px;
      text-align: left;
      font-weight: bold;
      color: #333;
      border-bottom: 2px solid #ddd;
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: #f9f9f9;
      }

      &:hover {
        background-color: #f1f1f1;
      }

      &.out-of-range {
        background-color: #ffebee; // Светло-красный фон для значений вне диапазона

        td {
          color: #c62828; // Красный текст для значений вне диапазона
        }
      }

      td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        color: #555;
      }
    }
  }
}